In [301]:
import pandas as pd
import numpy as np

In [302]:
df1=pd.read_csv("cars/corolla.csv")
df2=pd.read_csv("cars/mazda.csv")
df3=pd.read_csv("cars/pajero.csv")
df4=pd.read_csv("cars/suzuki-mehran1.csv")

In [303]:
df=pd.concat([df1,df2,df3,df4])
df.shape

(3525, 21)

In [304]:
df=df.drop(['Link','image1','image2','image3','image4','image5','name','Assembly','Features','Energy','Version'],axis=1)
df.columns = df.columns.str.replace(' ', '')
df.columns

Index(['ID', 'Make', 'Model', 'Price', 'ModelDate', 'KmRun', 'EngineType',
       'City', 'Color', 'EngineCapacity'],
      dtype='object')

In [305]:
df.Price=df.Price.str.extract('(\d+.\d+)')
df.Price=pd.to_numeric(df.Price,errors="coerce")*100000

In [306]:
df.rename(columns={'ModelDate':'Year'},inplace=True)
df.rename(columns={'KmRun':'Mileage'},inplace=True)

In [307]:
df.head()

,ID,Make,Model,Price,Year,Mileage,EngineType,City,Color,EngineCapacity
0,1,Toyota,Corolla,1975000.0,2016,"\n\n55,127 km",\n\nAutomatic,Karachi,Black,1300 cc
1,2,Toyota,Corolla,NaN,2018,"\n\n6,404 km",\n\nManual,Karachi,Bronze Mica,1300 cc
2,3,Toyota,Corolla,NaN,2015,"\n\n52,000 km",\n\nAutomatic,Karachi,Silver,1300 cc
3,4,Toyota,Corolla,1225000.0,2006,"\n\n127,000 km",\n\nAutomatic,Lahore,Grey,1800 cc
4,5,Toyota,Corolla,2375000.0,2019,\n\n204 km,\n\nManual,Karachi,Black,1300 cc

In [308]:
df['Mileage']=df['Mileage'].str.replace(',','')
df['Mileage']=df['Mileage'].str.extract('(\d+)')
df['Mileage']=pd.to_numeric(df['Mileage'],errors="coerce")

In [309]:
df.EngineCapacity=df.EngineCapacity.str.extract('(\d+)')
df.EngineCapacity=pd.to_numeric(df.EngineCapacity,errors="coerce")

Engine Type
Automatic=0
Manual=1

In [310]:
df.columns

Index(['ID', 'Make', 'Model', 'Price', 'Year', 'Mileage', 'EngineType', 'City',
       'Color', 'EngineCapacity'],
      dtype='object')

In [311]:
df['EngineType']=pd.get_dummies(df['EngineType']).iloc[:,1:]

In [312]:
dummies=pd.get_dummies(df.Make,prefix='Make')
df=pd.concat([df,dummies],axis=1)

In [313]:
dummies=pd.get_dummies(df.Model,prefix='Model')
df=pd.concat([df,dummies],axis=1)

dummies=pd.get_dummies(df.Energy,prefix='Energy')
df=pd.concat([df,dummies],axis=1)

In [314]:
dummies=pd.get_dummies(df.Color,prefix='Color')
df=pd.concat([df,dummies],axis=1)

In [315]:
dummies=pd.get_dummies(df.City,prefix='City')
df=pd.concat([df,dummies],axis=1)

In [316]:
df=df.drop(['Color','City','Make','Model'],axis=1)

In [320]:
df=df.dropna()
df.columns = map(str.lower, df.columns)
df.to_csv("cars/preprocessed.csv")

In [321]:
df.shape

(2676, 132)